/* src/styles/nprogress-custom.css */

#nprogress {
  pointer-events: none;
}

/* Thanh loading bar */
#nprogress .bar {
  
  background: #6366f1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  z-index: 1031;
  box-shadow: 0 0 10px #6366f1, 0 0 2px #6366f1;
  transition: all 0.3s ease-in-out;
}

/* Spinner (nếu bật showSpinner: true) */
#nprogress .spinner {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 1031;
}

#nprogress .spinner-icon {
  width: 24px;
  height: 24px;
  border: 4px solid transparent;
  border-top-color: #6366f1;
  border-left-color: #6366f1;
  border-radius: 50%;
  animation: spin 0.4s linear infinite;
}

@keyframes spin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


