@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .search-bar {
        @apply w-full sm:w-[300px] 
        rounded-full border border-gray-500 
        px-[6px] py-[7px] bg-gray-50;
    }
    .scrollbar-hide {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;     /* Firefox */
    }
    .scrollbar-hide::-webkit-scrollbar {
        display: none;             /* Chrome, Safari and Opera */
    }

    
}